<div class="title"> 
  <h1 class="appname"><span class="top">Phone</span><span class="bottom">Book</span></h1>
</div>



  <table *ngIf="contacts" class="table__container">

    <thead>
        <button class="btn-sort btn__up btn__down"
        (click)="sortType('name')"
        [class.active]="sortBy === 'name'">Sort By Name (A-Z)
        </button>

      <tr class="searchContact">
        <th><input name="filterName" [(ngModel)]="filterName" placeholder="Search by Name"></th>
        <th><input name="filterNumber" [(ngModel)]="filterNumber" placeholder="Phone Number"></th>
        <th><input name="filterAddress" [(ngModel)]="filterAddress" placeholder="Address"></th>
      </tr>
    </thead>
    <br>
    <tbody>
      <tr *ngFor="let contact of contacts | nameFilter: filterName | numberFilter: filterNumber | addressFilter: filterAddress">
        <td>{{contact.name}}</td>
        <td>{{contact.phone_number}}</td>
        <td>{{contact.address}}</td>
      </tr>
    </tbody>
  </table>

  
<div *ngIf="!contacts" class="btn__container">
    <div class="btn__background">
        <button class="btn btn__up btn__down" (click)="loadContacts()">Load Contact List</button>
      </div>
</div>


<div class="sticked-bottom">
    <h2>Created by <a href="http://fredericoalves.uk" target="_blank">Frederico Alves</a></h2>
</div>


